@charset "UTF-8";
@import '_px2rem';
$designWidth: 640;
.display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.no_wrap{
     display: flex;
    justify-content: center;
    align-items: center;
}
.flex-start{
     display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.space-between{
     display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
.margin-right-20{
    margin-right: px2rem(20);
}
.bar-list {
    height: px2rem(57);
    line-height: px2rem(57);
}
.margin-left-10{
    margin-left: px2rem(10);
}
.margin-left-60{
    margin-left: px2rem(60);
}
.margin-right-20{
    margin-right: px2rem(20);
}
.margin-right-40{
     margin-right: px2rem(40);
}
.margin-bottom-10{
    margin-bottom: px2rem(10);
}
.margin-top-20{
    margin-top: px2rem(20);
}
.border-bottom-dash{
    border-bottom: px2rem(1) dashed black;
}
