@charset "UTF-8";
@import '_px2rem';
$designWidth: 640;
body {
    width: 16rem;
    margin: 0 auto;
    background-color: #e6e6e6;
    overflow: scroll;
    overflow-x: hidden;
}

.header {
    background-color: #cd9300;
    width: px2rem(640);
    height: px2rem(88);
    position: fixed;
    top: px2rem(0);
    left: px2rem(0);
    .header_container {
        width: px2rem(640);
        height: px2rem(88);
        font-size: px2rem(28);
        color: #FFFFFF;
        .back{
            width: px2rem(100);
            img{
                width: px2rem(28);
                height: px2rem(28);
            }
        }
        .title{
             width: px2rem(400);
             text-align: center;
        }
        .bar-list-5 {
            width: px2rem(100);
             text-align: right;
            span {
                font-size: px2rem(40);
            }
            .iconfont01 {
                display: none;
            }
            .iconfont02 {
                display: block;
            }
        }
    }
}

.containers {
    width: 16rem;
    margin-top: px2rem(88);
    overflow: scroll;
    #show1 {
        overflow: scroll;
        display: none;
        .show1 {
            width: 16rem;
            height: px2rem(184);
            border-bottom: px2rem(1) solid #c7c7c7;
            .show-list {
                width: px2rem(600);
                height: px2rem(174);
                background-color: #FFFFFF;
                .show-list-1 {
                    width: px2rem(174);
                    height: px2rem(174);
                    img {
                        width: px2rem(170);
                        height: px2rem(170);
                    }
                }
                .show-list-2 {
                    width: px2rem(326);
                    height: px2rem(170);
                    padding-left: px2rem(15);
                    .goods-name {
                        font-size: px2rem(25);
                        height: px2rem(120);
                        color: #9d9d9d;
                    }
                    .goods-num {
                        font-size: px2rem(21);
                        height: px2rem(25);
                        line-height: px2rem(25);
                        color: #000000;
                    }
                    .goods-price {
                        font-size: px2rem(23);
                        height: px2rem(25);
                        line-height: px2rem(25);
                        color: #cd9300;
                        span {
                            font-size: px2rem(23);
                        }
                    }
                }
                .show-list-3 {
                    width: px2rem(100);
                    height: px2rem(100);
                    .circle {
                        width: px2rem(60);
                        height: px2rem(60);
                        line-height: px2rem(60);
                        border-radius: 50%;
                        background-color: #cd9300;
                        color: #FFFFFF;
                        font-size: px2rem(26);
                        font-weight: 600;
                        text-align: center;
                    }
                }
            }
        }
    }
    #show2 {
        display: block;
        overflow: scroll;
        .show2 {
            width: 16rem;
            .show_center {
                width: px2rem(610);
                .show_list {
                    width: px2rem(300);
                    background-color: #FFFFFF;
                    margin-bottom: px2rem(10);
                    .img {
                        width: px2rem(300);
                        height: px2rem(300);
                        img {
                            width: px2rem(296);
                            height: px2rem(296);
                        }
                    }
                    .name {
                        width: px2rem(300);
                        height: px2rem(88);
                        padding-left: px2rem(10);
                        color: #9e9e9e;
                        font-size: px2rem(28);
                        border-bottom: px2rem(1) dashed black;
                    }
                    .text {
                        .show-list-2 {
                            width: px2rem(190);
                            height: px2rem(70);
                            line-height: px2rem(68);
                            padding-left: px2rem(15);
                            color: #959595;
                            font-size: px2rem(28);
                            .goods-num {
                                height: px2rem(30);
                                line-height: px2rem(30);
                                font-size: px2rem(21);
                                color: #000000;
                            }
                            .goods-price {
                                height: px2rem(40);
                                line-height: px2rem(40);
                                font-size: px2rem(23);
                                color: #cd9300;
                                span {
                                    font-size: px2rem(23);
                                }
                            }
                        }
                        .show-list-3 {
                            width: px2rem(110);
                            height: px2rem(68);
                            .circle {
                                width: px2rem(60);
                                height: px2rem(60);
                                line-height: px2rem(60);
                                border-radius: 50%;
                                background-color: #cd9300;
                                color: #FFFFFF;
                                font-size: px2rem(26);
                                font-weight: 600;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
    .space-between {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}