@charset "UTF-8";
@import '_px2rem';
$designWidth: 640;
body {
    width: 16rem;
    overflow: hidden;
    margin: 0 auto;

    overflow: scroll;
    
}
.headers{
    position: fixed;
    top: px2rem(0);
    left: px2rem(0);
}
.header {
    width: px2rem(640);
    height: px2rem(130);
    background-color: #cd9300;
    position: relative;
    .input {
        
        position: absolute;
        left: px2rem(20);
        top: px2rem(50);
        width: px2rem(600);
        display: flex;
        justify-content: center;
        align-items: center;
        input {
            background: url(../image/search.png) no-repeat px2rem(10) center;
            background-size: px2rem(40) px2rem(40);
            font-size: px2rem(26);
            width: px2rem(550);
            height: px2rem(50);
            line-height: px2rem(50);
            padding-left: px2rem(60);
            background-color: #dec085;
            border-radius: px2rem(10);
        }
        .RichScan {
            color: #FFFFFF;
            font-size: px2rem(50);
            padding-left: px2rem(15);
        }
    }
}

.bar {
    width: px2rem(640);
    height: px2rem(60);
    background-color: #FFFFFF;
    font-size: px2rem(26);
    font-weight: 700;

     background-color: #d0d0d0;
    .bar-list {
        width: px2rem(600);
        font-size: px2rem(25);
        font-weight: 700;

    }
}
.containers {
    width: 16rem;
    margin-top: px2rem(200);
    margin-bottom: px2rem(10);

    .show {
        width: 16rem;
        height: px2rem(184);
        border-bottom: px2rem(1) solid #c7c7c7;
        .show-list {
            width: px2rem(600);
            height: px2rem(174);
            background-color: #FFFFFF;
            .show-list-1 {
                width: px2rem(174);
                height: px2rem(174);
                img {
                    width: px2rem(170);
                    height: px2rem(170);
                }
            }
            .show-list-2{
                width: px2rem(426);
                height: px2rem(170);
                padding-left: px2rem(15);
                .goods-name{
                    margin-top: px2rem(30);
                    margin-bottom: px2rem(30);
                    font-size: px2rem(25);
                    color: #9d9d9d;
                }
                .goods-num{
                    font-size: px2rem(21);
                    color: #000000;
                }
                .goods-price{
                    font-size: px2rem(23);
                    color: #cd9300;
                    span{
                        font-size: px2rem(23);
                    }
                }
            }

        }
    }
}
.textarea{
    width: px2rem(640);
    form{
        width: px2rem(600);
         display: block;
         textarea{
        text-align: left;
        width: px2rem(600);
        height: px2rem(180);
        border-left: none;
        border-right: none;
    }
    }
    
}
.border-right {
    border-right: px2rem(1) solid #8D8D8D;
}