@charset "UTF-8";
@import '_px2rem';
$designWidth: 640;
body {
    width: 16rem;
    margin: 0 auto;
    overflow:scroll;overflow-x:hidden;
}
.bars-list {
    font-size: px2rem(28);
    height: px2rem(57);
    line-height: px2rem(57);
}

.model-1 {
     margin-top: px2rem(187);
    .filter {
        background-color: #FFFFFF;
        font-size: px2rem(28);
        width: 16rem;
        height: px2rem(60);
        position: fixed;
        top: px2rem(187);
        left: px2rem(0);
        .filter-center {
            width: px2rem(600);
            .filter-list {
                width: px2rem(120);
                height: px2rem(60);
                .big-circle {
                    width: px2rem(30);
                    height: px2rem(30);
                    border-radius: 50%;
                    border: px2rem(1) solid black;
                    .small-circle {
                        width: px2rem(20);
                        height: px2rem(20);
                        border-radius: 50%;
                    }
                }
                .filter-list {
                    height: px2rem(30);
                }
            }
        }
    }
}

.filter-active {
    background-color: #ca9409;
}
.model-2 {
    display: none;
}
.container_all{
    position: fixed;
    top: px2rem(187);
    left: px2rem(0);
    font-size: px2rem(28);
    width: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #e6e6e6;
    font-size: px2rem(28);
    //  font-weight: 700;
    .container-bar {
        width: 15rem;
        display: flex;
    }
}
.margin-bottom-88{
    margin-bottom: px2rem(88);
}
.container {
    position: fixed;
    top: px2rem(247);
    left: px2rem(0);
    font-size: px2rem(28);
    width: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #e6e6e6;
    font-size: px2rem(28);
    //  font-weight: 700;
    .container-bar {
        width: 15rem;
        display: flex;
    }
}
#good-shows{
    margin-top: px2rem(309);
    margin-bottom: px2rem(88);
}

#total{
    margin-top: px2rem(249);
    margin-bottom: px2rem(88);
}
.good-show {
    width: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: px2rem(600);
    img {
        width: px2rem(100);
        height: px2rem(100);
    }
    .text {
        width: px2rem(110);
        font-size: px2rem(24);
    }
}

.gray {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.modellist {
    font-size: px2rem(28);
    font-weight: 700;
    height: px2rem(62);
    line-height: px2rem(62);
}

.container-bar-list {
    font-size: px2rem(28);
    font-weight: 700;
    text-align: center;
    height: px2rem(62);
    line-height: px2rem(62);
}

.modellist-1 {
    width: px2rem(270);
    .text {
        width: px2rem(160);
    }
}
.modellist_container{
    width: px2rem(330);
}
.modellist-2 {
    width: px2rem(100);
    
}

.modellist-3 {
    width: px2rem(100);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modellist-4 {
    width: px2rem(130);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-1 {
    width: px2rem(230);
}
.list_container{
    width: px2rem(380);
}
.list-2 {
    width: px2rem(80);

}
.line-height {
    line-height: px2rem(108);
}
.list-3 {
    width: px2rem(90);
     white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.list-4 {
    width: px2rem(120);
     white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.list-5 {
    width: px2rem(90);
}

.list-height {
    height: px2rem(108);

}

.model-3 {
    position: fixed;
    left: px2rem(640);
    top: 0;
    z-index: 10000;
    margin-bottom: px2rem(70);
    .body {
        display: flex;
        width: 16rem;
        .container-left {
            width: px2rem(120);
            height: px2rem(1136);
            background-color: rgba(0, 0, 0, 0.5);
        }
        .container-right {
            background-color: #FFFFFF;
            position: relative;
            width: px2rem(520);
            height: px2rem(1066);
            .right-header {
                width: px2rem(520);
                height: px2rem(60);
                background-color: #e6e6e6;
            }
            .tabbar {
                width: px2rem(520);
                height: px2rem(60);
                line-height: px2rem(60);
                font-size: px2rem(28);
                font-weight: 700;
                padding-left: px2rem(30);
            }
            .users {
                width: px2rem(520);
                font-size: px2rem(20);
                .user-left {
                    width: px2rem(260);
                    button {
                        width: px2rem(215);
                        height: px2rem(40);
                        line-break: px2rem(40);
                        background-color: #e6e6e6;
                        border: px2rem(1) solid #a1a1a1;
                        border-radius: 5%;
                    }
                }
                .user-right {
                    width: px2rem(260);
                    button {
                        width: px2rem(215);
                        height: px2rem(40);
                        line-break: px2rem(40);
                        background-color: #cc9203;
                        border: px2rem(1) solid #9e8957;
                        border-radius: 5%;
                    }
                }
            }
            .footers {
                position: absolute;
                left: 0;
                bottom: px2rem(-70);
                width: px2rem(520);
                height: px2rem(70);
                line-height: px2rem(70);
                font-size: px2rem(25);
                font-weight: 700;
                color: #FFFFFF;
                .footer-left {
                    width: px2rem(260);
                    height: px2rem(70);
                    line-height: px2rem(70);
                    background-color: #dbc383;
                }
                .footer-right {
                    width: px2rem(260);
                    height: px2rem(70);
                    line-height: px2rem(70);
                    background-color: #cd9300;
                }
            }
        }
    }
}
 a {
        text-decoration: none;
        color: #333;   
    }
     a:active {
         text-decoration: none;
          color: #333;
     }
     a:focus, a:hover{
         text-decoration: none;
         color: #cd9300;
     }
.footer {
    a {
        text-decoration: none;
        color: #333;   
    }
     a:active {
         text-decoration: none;
          color: #333;
     }
     a:focus, a:hover{
         text-decoration: none;
         color: #cd9300;
     }
    border-top: px2rem(1) solid #cd9300;
    font-size: px2rem(27);
    width: 16rem;
    height: px2rem(90);
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    span {
        font-size: px2rem(27);
        margin-top: px2rem(20);
    }
}
.footer_active{
    color: #cd9300;
}
.flex-nowrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}