@charset "UTF-8";
@import '_px2rem';
$designWidth : 640;
li{
    list-style: none;
}
body{
  width: 16rem;
  margin: 0 auto;
  font-size: px2rem(27);
}
.row{
    margin: 0;
}
#header_container{
     width: 100%;
    position: fixed;
    left: px2rem(0);
    top: px2rem(0);
    z-index:100;
}
.tabbar_header{
    background-color: #FFFFFF;
}
.header{
    width: 100%;
    height: px2rem(130);
    background-color: #cd9300;
    color: #FFFFFF;
    position: relative;
    .header_list{
       position: absolute;
       left: px2rem(0);
       top: px2rem(60);
    }
    .row{
        width: 100%;
        height: px2rem(49);
        line-height: px2rem(49);
        .col-3{
            span{
                font-size: px2rem(27);
            }
        }
    }
}
.center{
    width:100%;
    .row{
        width: 100%;
    }
    .tab{
        width: 100%;
        height: px2rem(60);
        border-bottom: 1px solid #c9c9c9;
        .margin-top-20{
            margin-top: 20px;
        }
        .margin-bottom-20{
            margin-bottom: 20px;
        }
        .border-right{
            border-right: 1px solid #c9c9c9;
        }
    }
    .center-show{
        font-size: px2rem(27);
        width: 100%;
        background-color: #e6e6e6;
        height: px2rem(50);
        line-height: px2rem(50);
        
    }

}
.padding-none{
           padding: 0;
        }
.margin-left-5{
    margin-left: px2rem(5);
}
.goodlist{
   display: flex;
   justify-content: center;
}
.goodslist{
    width: 96%;
    height: px2rem(110);
    .flex: {
      display: flex; 
      align-items: center; 
      justify-content: center;
    };
    img{
        width: px2rem(100);
        height: px2rem(100);
    }
    p{
        font-size: px2rem(27);
    }
    .p2{
        font-weight: 700;
    }
    .border-rights{
        border-right: px2rem(2) solid #dfdfdf;
    }
   .border-bottoms{
       border-bottom: px2rem(2) solid #dfdfdf;
   }
    
}
.border-rights{
        border-right: px2rem(2) solid #dfdfdf;
    }
   .border-bottoms{
       border-bottom: px2rem(2) solid #dfdfdf;
   }
//弹性盒子
.display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.active{
    border-bottom: px2rem(3) solid red;
}

//模板2的布局

.bar-list {
    height: px2rem(57);
    line-height: px2rem(57);
}

.container {
    width: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #e6e6e6;
    font-size: px2rem(28);
    font-weight: 700;
    .container-bar {
        width: 15rem;
        display: flex;
    }
}
//.good-show{
//  width: 16rem;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  flex-wrap: wrap;
//}

.container-bar-list {
    font-size: px2rem(28);
    font-weight: 700;
    text-align: center;
    height: px2rem(62);
    line-height: px2rem(62);
}

.list-1 {
    width: px2rem(230);
}

.list-2 {
    width: px2rem(80);
}

.list-3 {
    width: px2rem(90);
}

.list-4 {
    width: px2rem(120);
}

.list-5 {
    width: px2rem(90);
}
.list-height{
    height: px2rem(108);
}