@charset "UTF-8";
@import '_px2rem';
$designWidth: 640;
body {
    width: 16rem;
    overflow: hidden;
    margin: 0 auto;
    background-color: #e6e6e6;
    overflow: scroll;
    max-width: px2rem(640);
}

.headers {
    position: fixed;
    top: px2rem(0);
    left: px2rem(0);
}

.header {
    width: px2rem(640);
    height: px2rem(110);
    background-color: #cd9300;
    position: relative;
    border-bottom: px2rem(3) solid #ab9555;
    .input {
        position: absolute;
        left: px2rem(20);
        top: px2rem(50);
        width: px2rem(600);
        display: flex;
        justify-content: center;
        align-items: center;
        .header-list1 {
            width: px2rem(120);
            font-size: px2rem(28);
            color: #FFFFFF;
        }
        .header-list2 {
            width: px2rem(400);
            text-align: center;
            font-size: px2rem(28);
            color: #FFFFFF;
        }
    }
}

.center {
    margin-top: px2rem(110);
    .bar {
        width: px2rem(640);
        height: px2rem(57);
        background-color: #FFFFFF;
        border-bottom: px2rem(3) solid #c5c5c5;
        .bar_center {
            width: px2rem(600);
            height: px2rem(25);
            .ready {
                width: px2rem(300);
                height: px2rem(25);
                font-size: px2rem(25);
                color: #9b9b9b;
            }
        }
    }
    #ready {
        display: block;
        .order_list {
            width: px2rem(640);
//          height: px2rem(120);
            background-color: #FFFFFF;
            border-bottom: px2rem(3) solid #c5c5c5;
            .order_center {
                width: px2rem(600);
                .row01 {
                    width: px2rem(600);
                    height: px2rem(45);
                    font-size: px2rem(20);
                    .row_list1 {
                        width: px2rem(300);
                        color: #ab8c34;
                        text-align: left;
                    }
                    .row_list2 {
                        width: px2rem(300);
                        color: #9b9b9b;
                        text-align: right;
                    }
                }
                .row02 {
                    width: px2rem(600);
                    height: px2rem(30);
                    font-size: px2rem(20);
                    .row_list1 {
                        width: px2rem(300);
                    }
                    .row_list2 {
                        width: px2rem(300);
                        color: #9b9b9b;
                        text-align: right;
                    }
                }
                .row03 {
                    width: px2rem(600);
                    height: px2rem(45);
                    font-size: px2rem(27);
                    color: #9b9b9b;
                    .row_list1 {
                        width: px2rem(300);
                        text-align: left;
                    }
                    .row_list2 {
                        width: px2rem(300);
                        text-align: right;
                    }
                }
            }
        }
    }
        #not_ready {
        display: none;
        .order_list {
            width: px2rem(640);
            height: px2rem(120);
            background-color: #FFFFFF;
            border-bottom: px2rem(3) solid #c5c5c5;
            .order_center {
                width: px2rem(600);
                .center_left{
                    width: px2rem(60);
                    .checkbox{
                        width: px2rem(50);
                        height: px2rem(50);
                        border: px2rem(3) solid #c5c5c5;
                        border-radius: 10%;
                    }
                }
                .center_right{
                    width: px2rem(540);
                .row01 {
                    width: px2rem(540);
                    height: px2rem(45);
                    font-size: px2rem(20);
                    .row_list1 {
                        width: px2rem(270);
                        color: #ab8c34;
                        text-align: left;
                    }
                    .row_list2 {
                        width: px2rem(270);
                        color: #9b9b9b;
                        text-align: right;
                    }
                }
                .row02 {
                    width: px2rem(540);
                    height: px2rem(30);
                    font-size: px2rem(20);
                    .row_list1 {
                        width: px2rem(270);
                    }
                    .row_list2 {
                        width: px2rem(270);
                        color: #9b9b9b;
                        text-align: right;
                    }
                }
                .row03 {
                    width: px2rem(540);
                    height: px2rem(45);
                    font-size: px2rem(27);
                    color: #9b9b9b;
                    .row_list1 {
                        width: px2rem(270);
                        text-align: left;
                    }
                    .row_list2 {
                        width: px2rem(270);
                        text-align: right;
                    }
                }
                 }
            }
        }
    }
}
.checkbox_sure{
    background: url(../image/sure.png) no-repeat center;
    background-size: px2rem(36) px2rem(36);
}
.submit{
    position: fixed;
    display: none;
    left: px2rem(0);
    bottom: px2rem(40);
    width: px2rem(640);
    height: px2rem(60);
    #submit{
        border-radius: px2rem(20);
        width: px2rem(510);
        height: px2rem(70);
        background-color: #cd9300;
        font-size: px2rem(26);
    }
}
.footer {
    position: fixed;
    left: px2rem(0);
    bottom: px2rem(0);
    width: px2rem(640);
    height: px2rem(60);
    background-color: #FFFFFF;
    .footer_center {
        width: px2rem(600);
        .list {
            width: px2rem(300);
            font-size: px2rem(28);
            color: #9b9b9b;
            span {
                color: #ab8c34;
            }
        }
    }
}

.active {
    color: #ab8c34!important;
}