body {
  width: 16rem;
  overflow: hidden;
  margin: 0 auto;
  background-color: #e6e6e6;
  overflow: scroll;
  max-width: 16rem; }

.headers {
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 16rem;
  height: 1.225rem;
  background-color: #cd9300;
  color: #FFFFFF; }
  .headers .header_center {
    width: 15rem; }
    .headers .header_center .back {
      width: 1.5rem;
      font-size: 0.7rem; }
    .headers .header_center .center {
      width: 12rem; }
    .headers .header_center .delete {
      width: 1.5rem;
      font-size: 1.125rem; }

.containers {
  margin-top: 1.25rem; }
  .containers .containers_header {
    background-color: #FFFFFF;
    width: 16rem;
    height: 3rem;
    border-bottom: 0.025rem solid black !important; }
    .containers .containers_header .header_center {
      width: 15rem;
      height: 2.5rem; }
      .containers .containers_header .header_center .img {
        width: 3rem;
        height: 2.5rem; }
        .containers .containers_header .header_center .img img {
          width: 2.5rem;
          height: 2.5rem; }
      .containers .containers_header .header_center .text {
        width: 12rem;
        height: 2.5rem;
        font-size: 0.7rem; }
        .containers .containers_header .header_center .text .list {
          height: 0.825rem;
          line-height: 0.825rem; }
          .containers .containers_header .header_center .text .list .name {
            width: 2.5rem;
            display: inline-block;
            text-align: justify; }
          .containers .containers_header .header_center .text .list .name:after {
            content: "";
            display: inline-block;
            width: 100%;
            overflow: hidden;
            height: 0; }
          .containers .containers_header .header_center .text .list .num {
            padding-left: 0.25rem;
            display: inline-block;
            text-align: left; }
          .containers .containers_header .header_center .text .list .num:after {
            content: "";
            display: inline-block;
            width: 100%;
            overflow: hidden;
            height: 0; }
  .containers .size {
    width: 16rem;
    background-color: #FFFFFF; }
    .containers .size .size_center {
      width: 15rem; }
    .containers .size .center_list {
      width: 15rem;
      height: 1.5rem; }
      .containers .size .center_list .list {
        width: 2.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: 0.7rem;
        text-align: center; }
        .containers .size .center_list .list input {
          width: 2.5rem;
          height: 1.5rem;
          line-height: 1.5rem;
          font-size: 0.7rem;
          text-align: center;
          border: none;
          outline: medium; }
  .containers .color {
    width: 16rem;
    background-color: #FFFFFF;
    font-size: 0.7rem; }
    .containers .color .color_center {
      width: 15rem;
      line-height: 1.5rem; }
      .containers .color .color_center .left {
        width: 2.5rem; }
      .containers .color .color_center .center {
        width: 10rem; }
        .containers .color .color_center .center .bigcircle {
          width: 0.75rem;
          height: 0.75rem;
          border: 0.025rem solid black;
          border-radius: 50%; }
          .containers .color .color_center .center .bigcircle .smallcircle {
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%; }
      .containers .color .color_center .right {
        width: 2.5rem; }
        .containers .color .color_center .right .all {
          width: 0.75rem;
          height: 0.75rem;
          border: 0.025rem solid black; }
      .containers .color .color_center button {
        background: none;
        width: 2.625rem;
        line-height: 1rem;
        outline: none;
        border: 0.025rem solid black;
        border-radius: 0.25rem;
        margin-top: 0.375rem;
        margin-left: 1.5rem; }
  .containers .sizes {
    width: 16rem;
    background-color: #FFFFFF;
    font-size: 0.7rem; }
    .containers .sizes .sizes_center {
      width: 15rem;
      line-height: 1.5rem; }
      .containers .sizes .sizes_center .left {
        width: 2.5rem; }
      .containers .sizes .sizes_center .centers {
        width: 10rem; }
        .containers .sizes .sizes_center .centers .bigcircle {
          width: 0.75rem;
          height: 0.75rem;
          border: 0.025rem solid black;
          border-radius: 50%; }
          .containers .sizes .sizes_center .centers .bigcircle .smallcircle {
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%; }
      .containers .sizes .sizes_center .right {
        width: 2.5rem; }
        .containers .sizes .sizes_center .right .all {
          width: 0.75rem;
          height: 0.75rem;
          border: 0.025rem solid black; }
      .containers .sizes .sizes_center input {
        background: none;
        width: 2.625rem;
        line-height: 1rem;
        border: 0.025rem solid black;
        border-radius: 0.25rem;
        margin-top: 0.375rem;
        margin-left: 1.5rem; }
      .containers .sizes .sizes_center button {
        background: none;
        width: 2.625rem;
        outline: none;
        line-height: 1rem;
        border: 0.025rem solid black;
        border-radius: 0.25rem;
        margin-top: 0.375rem;
        margin-left: 1.5rem; }
  .containers .submit {
    width: 16rem;
    height: 2.5rem;
    background-color: #FFFFFF; }
    .containers .submit input {
      width: 7.5rem;
      height: 2rem;
      font-size: 0.7rem;
      outline: none;
      color: #FFFFFF;
      background-color: #cd9300;
      border-radius: 0.5rem; }
  .containers .nums {
    width: 16rem;
    height: 2rem;
    font-size: 0.7rem;
    background-color: #ffffff; }
    .containers .nums .num_center {
      width: 15rem;
      height: 1.5rem; }
      .containers .nums .num_center .left {
        width: 3.75rem; }
      .containers .nums .num_center .right {
        width: 11.25rem; }
        .containers .nums .num_center .right .down {
          border-radius: 0.5rem 0rem 0rem 0.5rem; }
        .containers .nums .num_center .right .up {
          border-radius: 0rem 0.5rem 0.5rem 0rem; }
        .containers .nums .num_center .right button {
          width: 2.5rem;
          height: 1.5rem;
          background-color: #cd9300;
          outline: none; }
        .containers .nums .num_center .right input {
          width: 2.5rem;
          height: 1.5rem;
          border: none;
          outline: medium;
          text-align: center; }
  .containers .allnum {
    width: 16rem;
    height: 2rem;
    font-size: 0.7rem;
    background-color: #FFFFFF; }
    .containers .allnum .allnum_center {
      width: 15rem;
      height: 1.5rem; }
      .containers .allnum .allnum_center .left {
        width: 3.75rem;
        height: 1.5rem;
        line-height: 1.5rem; }
        .containers .allnum .allnum_center .left span {
          color: #cd9300; }
      .containers .allnum .allnum_center .right {
        text-align: right;
        width: 11.25rem;
        height: 1.5rem;
        line-height: 1.5rem; }
        .containers .allnum .allnum_center .right span {
          color: #cd9300; }

.sizes_center button:nth-child(4n+1) {
  margin-left: 0rem !important; }

.color_center button:nth-child(4n+1) {
  margin-left: 0rem !important; }

.all_active {
  background: url(../image/sure.png) no-repeat center;
  background-size: 0.65rem 0.65rem; }

.active {
  background-color: red; }

.input_active {
  background-color: #cd9300;
  color: #FFFFFF; }

.button_active {
  background-color: #cd9300 !important;
  color: #FFFFFF;
  border: 0.025rem solid #cd9300 !important; }

.warning {
  display: none;
  position: fixed;
  left: 50%;
  bottom: 2.5rem;
  margin-left: -5rem;
  text-align: center;
  background-color: #cd9300;
  width: 10rem;
  height: 1.5rem;
  font-size: 0.7rem;
  line-height: 1.5rem;
  color: #FFFFFF;
  border-radius: 0.75rem; }

.warning1 {
  display: none;
  position: fixed;
  left: 50%;
  bottom: 2.5rem;
  margin-left: -5rem;
  text-align: center;
  background-color: #cd9300;
  width: 10rem;
  height: 1.5rem;
  font-size: 0.7rem;
  line-height: 1.5rem;
  color: #FFFFFF;
  border-radius: 0.75rem; }

/*# sourceMappingURL=dingdan.css.map */
