body {
  width: 16rem;
  margin: 0 auto;
  overflow: scroll;
  overflow-x: hidden; }

.bars-list {
  font-size: 0.7rem;
  height: 1.425rem;
  line-height: 1.425rem; }

.model-1 {
  margin-top: 4.675rem; }
  .model-1 .filter {
    background-color: #FFFFFF;
    font-size: 0.7rem;
    width: 16rem;
    height: 1.5rem;
    position: fixed;
    top: 4.675rem;
    left: 0rem; }
    .model-1 .filter .filter-center {
      width: 15rem; }
      .model-1 .filter .filter-center .filter-list {
        width: 3rem;
        height: 1.5rem; }
        .model-1 .filter .filter-center .filter-list .big-circle {
          width: 0.75rem;
          height: 0.75rem;
          border-radius: 50%;
          border: 0.025rem solid black; }
          .model-1 .filter .filter-center .filter-list .big-circle .small-circle {
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%; }
        .model-1 .filter .filter-center .filter-list .filter-list {
          height: 0.75rem; }

.filter-active {
  background-color: #ca9409; }

.model-2 {
  display: none; }

.container_all {
  position: fixed;
  top: 4.675rem;
  left: 0rem;
  font-size: 0.7rem;
  width: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #e6e6e6;
  font-size: 0.7rem; }
  .container_all .container-bar {
    width: 15rem;
    display: flex; }

.margin-bottom-88 {
  margin-bottom: 2.2rem; }

.container {
  position: fixed;
  top: 6.175rem;
  left: 0rem;
  font-size: 0.7rem;
  width: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #e6e6e6;
  font-size: 0.7rem; }
  .container .container-bar {
    width: 15rem;
    display: flex; }

#good-shows {
  margin-top: 7.725rem;
  margin-bottom: 2.2rem; }

#total {
  margin-top: 6.225rem;
  margin-bottom: 2.2rem; }

.good-show {
  width: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 15rem; }
  .center img {
    width: 2.5rem;
    height: 2.5rem; }
  .center .text {
    width: 2.75rem;
    font-size: 0.6rem; }

.gray {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.modellist {
  font-size: 0.7rem;
  font-weight: 700;
  height: 1.55rem;
  line-height: 1.55rem; }

.container-bar-list {
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  height: 1.55rem;
  line-height: 1.55rem; }

.modellist-1 {
  width: 6.75rem; }
  .modellist-1 .text {
    width: 4rem; }

.modellist_container {
  width: 8.25rem; }

.modellist-2 {
  width: 2.5rem; }

.modellist-3 {
  width: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.modellist-4 {
  width: 3.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.list-1 {
  width: 5.75rem; }

.list_container {
  width: 9.5rem; }

.list-2 {
  width: 2rem; }

.line-height {
  line-height: 2.7rem; }

.list-3 {
  width: 2.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.list-4 {
  width: 3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.list-5 {
  width: 2.25rem; }

.list-height {
  height: 2.7rem; }

.model-3 {
  position: fixed;
  left: 16rem;
  top: 0;
  z-index: 10000;
  margin-bottom: 1.75rem; }
  .model-3 .body {
    display: flex;
    width: 16rem; }
    .model-3 .body .container-left {
      width: 3rem;
      height: 28.4rem;
      background-color: rgba(0, 0, 0, 0.5); }
    .model-3 .body .container-right {
      background-color: #FFFFFF;
      position: relative;
      width: 13rem;
      height: 26.65rem; }
      .model-3 .body .container-right .right-header {
        width: 13rem;
        height: 1.5rem;
        background-color: #e6e6e6; }
      .model-3 .body .container-right .tabbar {
        width: 13rem;
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: 0.7rem;
        font-weight: 700;
        padding-left: 0.75rem; }
      .model-3 .body .container-right .users {
        width: 13rem;
        font-size: 0.5rem; }
        .model-3 .body .container-right .users .user-left {
          width: 6.5rem; }
          .model-3 .body .container-right .users .user-left button {
            width: 5.375rem;
            height: 1rem;
            line-break: 1rem;
            background-color: #e6e6e6;
            border: 0.025rem solid #a1a1a1;
            border-radius: 5%; }
        .model-3 .body .container-right .users .user-right {
          width: 6.5rem; }
          .model-3 .body .container-right .users .user-right button {
            width: 5.375rem;
            height: 1rem;
            line-break: 1rem;
            background-color: #cc9203;
            border: 0.025rem solid #9e8957;
            border-radius: 5%; }
      .model-3 .body .container-right .footers {
        position: absolute;
        left: 0;
        bottom: -1.75rem;
        width: 13rem;
        height: 1.75rem;
        line-height: 1.75rem;
        font-size: 0.625rem;
        font-weight: 700;
        color: #FFFFFF; }
        .model-3 .body .container-right .footers .footer-left {
          width: 6.5rem;
          height: 1.75rem;
          line-height: 1.75rem;
          background-color: #dbc383; }
        .model-3 .body .container-right .footers .footer-right {
          width: 6.5rem;
          height: 1.75rem;
          line-height: 1.75rem;
          background-color: #cd9300; }

a {
  text-decoration: none;
  color: #333; }

a:active {
  text-decoration: none;
  color: #333; }

a:focus, a:hover {
  text-decoration: none;
  color: #cd9300; }

.footer {
  border-top: 0.025rem solid #cd9300;
  font-size: 0.675rem;
  width: 16rem;
  height: 2.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #FFFFFF; }
  .footer a {
    text-decoration: none;
    color: #333; }
  .footer a:active {
    text-decoration: none;
    color: #333; }
  .footer a:focus, .footer a:hover {
    text-decoration: none;
    color: #cd9300; }
  .footer span {
    font-size: 0.675rem;
    margin-top: 0.5rem; }

.footer_active {
  color: #cd9300; }

.flex-nowrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; }

/*# sourceMappingURL=index02.css.map */
