body {
  width: 16rem;
  background-color: #f5f5f5; }

.my_body .header {
  width: 16rem;
  height: 1.87733rem;
  background-color: #ce9100;
  border-bottom: 0.02133rem solid #959595; }
  .my_body .header .header_container {
    width: 14.93333rem;
    height: 1.87733rem;
    font-size: 0.72533rem;
    color: #FFFFFF; }
    .my_body .header .header_container .header_list1 {
      width: 2.13333rem;
      text-align: center; }
    .my_body .header .header_container .header_list2 {
      width: 10.66667rem;
      text-align: center; }
.my_body .user_manager {
  width: 16rem;
  height: 3.62667rem;
  background-color: #ce9100; }
  .my_body .user_manager .user_container {
    width: 13.35467rem; }
    .my_body .user_manager .user_container img {
      width: 2.47467rem;
      height: 2.47467rem; }
    .my_body .user_manager .user_container .user_name {
      width: 4.90667rem; }
      .my_body .user_manager .user_container .user_name .name1,
      .my_body .user_manager .user_container .user_name .name2 {
        width: 4.90667rem; }
      .my_body .user_manager .user_container .user_name .name1 {
        font-size: 0.53333rem;
        color: #dfcea5;
        text-align: center; }
      .my_body .user_manager .user_container .user_name .name2 {
        font-size: 0.64rem;
        color: #FFFFFF;
        text-align: center; }
    .my_body .user_manager .user_container .area {
      width: 5.97333rem; }
      .my_body .user_manager .user_container .area .area1,
      .my_body .user_manager .user_container .area .area2 {
        width: 5.97333rem; }
      .my_body .user_manager .user_container .area .area1 {
        font-size: 0.53333rem;
        color: #dfcea5;
        text-align: center; }
      .my_body .user_manager .user_container .area .area2 {
        font-size: 0.64rem;
        color: #FFFFFF;
        text-align: center; }
.my_body .Super_services {
  background-color: #FFFFFF; }
  .my_body .Super_services .Super_service {
    width: 16rem;
    height: 1.70667rem;
    margin-top: 0.256rem; }
    .my_body .Super_services .Super_service .Super_center {
      width: 15.14667rem;
      height: 1.70667rem;
      border-bottom: 0.02133rem solid #d6d6d6; }
      .my_body .Super_services .Super_service .Super_center img {
        width: 0.68267rem;
        height: 0.68267rem; }
      .my_body .Super_services .Super_service .Super_center .text {
        margin-left: 0.32rem;
        font-size: 0.61867rem;
        color: #666666; }
  .my_body .Super_services .user_tab {
    width: 16rem;
    height: 2.432rem; }
    .my_body .Super_services .user_tab .tab_center {
      width: 15.104rem;
      height: 2.432rem; }
      .my_body .Super_services .user_tab .tab_center .center_list {
        text-align: center;
        width: 5.03467rem;
        height: 2.432rem; }
        .my_body .Super_services .user_tab .tab_center .center_list img {
          width: 0.68267rem;
          height: 0.68267rem; }
        .my_body .Super_services .user_tab .tab_center .center_list p {
          font-size: 0.49067rem;
          color: #999999; }
.my_body .function {
  width: 16rem;
  height: 1.92rem;
  background-color: #FFFFFF;
  margin-top: 0.29867rem; }
  .my_body .function .function_center {
    width: 15.14667rem;
    height: 1.92rem; }
    .my_body .function .function_center img {
      width: 0.768rem;
      height: 0.768rem; }
    .my_body .function .function_center .text {
      width: 8.40533rem;
      color: #666666;
      text-align: left;
      font-size: 0.64rem;
      margin-left: 0.21333rem; }
    .my_body .function .function_center .text2 {
      width: 5.76rem;
      text-align: right;
      font-size: 0.64rem; }
    .my_body .function .function_center .color {
      color: #CE9100; }

/*# sourceMappingURL=my.css.map */
