body {
  width: 16rem;
  overflow: hidden;
  margin: 0 auto;
  background-color: #e6e6e6;
  overflow: scroll;
  max-width: 16rem; }

.headers {
  position: fixed;
  top: 0rem;
  left: 0rem; }

.header {
  width: 16rem;
  height: 2.75rem;
  background-color: #cd9300;
  position: relative;
  border-bottom: 0.075rem solid #ab9555; }
  .header .input {
    position: absolute;
    left: 0.5rem;
    top: 1.25rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .input .header-list1 {
      width: 3rem;
      font-size: 0.7rem;
      color: #FFFFFF; }
    .header .input .header-list2 {
      width: 10rem;
      text-align: center;
      font-size: 0.7rem;
      color: #FFFFFF; }

.center {
  margin-top: 2.75rem; }
  .center .bar {
    width: 16rem;
    height: 1.425rem;
    background-color: #FFFFFF;
    border-bottom: 0.075rem solid #c5c5c5; }
    .center .bar .bar_center {
      width: 15rem;
      height: 0.625rem; }
      .center .bar .bar_center .ready {
        width: 7.5rem;
        height: 0.625rem;
        font-size: 0.625rem;
        color: #9b9b9b; }
  .center #ready {
    display: block; }
    .center #ready .order_list {
      width: 16rem;
      background-color: #FFFFFF;
      border-bottom: 0.075rem solid #c5c5c5; }
      .center #ready .order_list .order_center {
        width: 15rem; }
        .center #ready .order_list .order_center .row01 {
          width: 15rem;
          height: 1.125rem;
          font-size: 0.5rem; }
          .center #ready .order_list .order_center .row01 .row_list1 {
            width: 7.5rem;
            color: #ab8c34;
            text-align: left; }
          .center #ready .order_list .order_center .row01 .row_list2 {
            width: 7.5rem;
            color: #9b9b9b;
            text-align: right; }
        .center #ready .order_list .order_center .row02 {
          width: 15rem;
          height: 0.75rem;
          font-size: 0.5rem; }
          .center #ready .order_list .order_center .row02 .row_list1 {
            width: 7.5rem; }
          .center #ready .order_list .order_center .row02 .row_list2 {
            width: 7.5rem;
            color: #9b9b9b;
            text-align: right; }
        .center #ready .order_list .order_center .row03 {
          width: 15rem;
          height: 1.125rem;
          font-size: 0.675rem;
          color: #9b9b9b; }
          .center #ready .order_list .order_center .row03 .row_list1 {
            width: 7.5rem;
            text-align: left; }
          .center #ready .order_list .order_center .row03 .row_list2 {
            width: 7.5rem;
            text-align: right; }
  .center #not_ready {
    display: none; }
    .center #not_ready .order_list {
      width: 16rem;
      height: 3rem;
      background-color: #FFFFFF;
      border-bottom: 0.075rem solid #c5c5c5; }
      .center #not_ready .order_list .order_center {
        width: 15rem; }
        .center #not_ready .order_list .order_center .center_left {
          width: 1.5rem; }
          .center #not_ready .order_list .order_center .center_left .checkbox {
            width: 1.25rem;
            height: 1.25rem;
            border: 0.075rem solid #c5c5c5;
            border-radius: 10%; }
        .center #not_ready .order_list .order_center .center_right {
          width: 13.5rem; }
          .center #not_ready .order_list .order_center .center_right .row01 {
            width: 13.5rem;
            height: 1.125rem;
            font-size: 0.5rem; }
            .center #not_ready .order_list .order_center .center_right .row01 .row_list1 {
              width: 6.75rem;
              color: #ab8c34;
              text-align: left; }
            .center #not_ready .order_list .order_center .center_right .row01 .row_list2 {
              width: 6.75rem;
              color: #9b9b9b;
              text-align: right; }
          .center #not_ready .order_list .order_center .center_right .row02 {
            width: 13.5rem;
            height: 0.75rem;
            font-size: 0.5rem; }
            .center #not_ready .order_list .order_center .center_right .row02 .row_list1 {
              width: 6.75rem; }
            .center #not_ready .order_list .order_center .center_right .row02 .row_list2 {
              width: 6.75rem;
              color: #9b9b9b;
              text-align: right; }
          .center #not_ready .order_list .order_center .center_right .row03 {
            width: 13.5rem;
            height: 1.125rem;
            font-size: 0.675rem;
            color: #9b9b9b; }
            .center #not_ready .order_list .order_center .center_right .row03 .row_list1 {
              width: 6.75rem;
              text-align: left; }
            .center #not_ready .order_list .order_center .center_right .row03 .row_list2 {
              width: 6.75rem;
              text-align: right; }

.checkbox_sure {
  background: url(../image/sure.png) no-repeat center;
  background-size: 0.9rem 0.9rem; }

.submit {
  position: fixed;
  display: none;
  left: 0rem;
  bottom: 1rem;
  width: 16rem;
  height: 1.5rem; }
  .submit #submit {
    border-radius: 0.5rem;
    width: 12.75rem;
    height: 1.75rem;
    background-color: #cd9300;
    font-size: 0.65rem; }

.footer {
  position: fixed;
  left: 0rem;
  bottom: 0rem;
  width: 16rem;
  height: 1.5rem;
  background-color: #FFFFFF; }
  .footer .footer_center {
    width: 15rem; }
    .footer .footer_center .list {
      width: 7.5rem;
      font-size: 0.7rem;
      color: #9b9b9b; }
      .footer .footer_center .list span {
        color: #ab8c34; }

.active {
  color: #ab8c34 !important; }

/*# sourceMappingURL=orderforgoods.css.map */
