@charset "UTF-8";
@import '_px2rem';
$designWidth: 750;
body {
    width: 16rem;
    overflow: hidden;
    margin: 0 auto;
}

* {
    margin: 0px;
    padding: 0px;
}

.clearfix:after {
    content: '';
    overflow: hidden;
    clear: both;
    display: block;
    height: 0px;
}

.container {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #ebebeb;
}

.header {
    width: px2rem(390);
    height: px2rem(90);
    min-width: px2rem(390);
    margin: 0 auto;
    margin-top: px2rem(70);
    align-items: center;
    .left {
        float: left;
        margin-right: px2rem(28);
        width: px2rem(84);
        height: px2rem(84);
        border-radius: 50%;
        margin-top: px2rem(3);
    }
    .right {
        float: left;
        p {
            font-size: px2rem(32);
            color: #393a3f;
            font-weight: 700;
            height: px2rem(48);
            line-height: px2rem(48);
        }
        .wraning {
            height: px2rem(42);
            line-height: px2rem(42);
            img {
                width: px2rem(32);
                height: px2rem(32);
                display: inline-block;
                vertical-align: middle;
            }
            span {
                vertical-align: middle;
                font-size: px2rem(24);
                color: #a8a8a8;
            }
        }
    }
}

.cursor {
    position: absolute;
    right: px2rem(15);
    top: px2rem(30);
    display: inline-block;
    height: px2rem(80);
    background: #677bff;
    width: px2rem(3);
    vertical-align: middle;
    border-radius: 17%;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
    animation-name: cursor
}
.hidden{
    animation:hidden 0.5s linear forwards;
}
.show{
      animation:show 0.5s linear forwards;
}
@keyframes cursor {
    0% {
        opacity: 0
    }
    30% {
        opacity: 1
    }
    50% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes cursor {
    0% {
        opacity: 0
    }
    30% {
        opacity: 1
    }
    50% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
@keyframes hidden{
    0%{
        height: px2rem(520);
    }
    100%{
        height: px2rem(0);
    }
}
@keyframes show{
     0%{
        height: px2rem(0);
    }
    100%{
        height: px2rem(520);
    }
}
.input {
    width: px2rem(660);
    height: px2rem(140);
    line-height: px2rem(140);
    background-color: #ffffff;
    border: px2rem(1) solid #d6d6d6;
    border-radius: px2rem(10);
    margin: 0 auto;
    margin-top: px2rem(60);
    padding-left: px2rem(25);
    padding-right: px2rem(25);
    position: relative;
    text-align: right;
    #posabs {

        height: px2rem(60);
        line-height: px2rem(60);

    }
    .left{
        height: px2rem(40);
        line-height: px2rem(40);
        font-size: px2rem(30);
        color: #999999;
        position: absolute;
        left: px2rem(25);
        top: px2rem(50);
        
    }
}

.keyboard {
    z-index: 20;
    overflow: hidden;
    width: 100%;
    position: absolute;
    bottom: px2rem(0);
    left: px2rem(0);
}
button:focus{
          outline: none;
      }
.sure_button{
    z-index: 1;
    width: px2rem(700);
    height: px2rem(120);
    font-size: px2rem(40);
    background-color: #ff4965;
    color: #FFFFFF;
    position: absolute;
    left: px2rem(25);
    bottom: px2rem(50);
    border-radius: px2rem(20);
}

.list {
    .num {
        width: 25%;
        height: px2rem(130);
        line-height: px2rem(130);
        text-align: center;
        float: left;
        background-color: #FFFFFF;
    }
    .num:active {
        background-color: rgba(0, 0, 0, .1);
    }
    .num_con {
        float: left;
        width: 75%;
        .num {
            width: 33.33%;
            float: left;
            height: px2rem(130);
            height: px2rem(130);
            line-height: px2rem(130);
        }
    }
    .sure {
        width: 25%;
        height: px2rem(390);
        height: px2rem(390);
        display: table;
        font-size: px2rem(40);
        color: #FFFFFF;
        button {
            width: 100%;
            height: 100%;
            background-color: #ff4965;
            font-size: px2rem(40);
            font-weight: 700;
            color: #FFFFFF;
        }
        
    }
}
.active {
            background-color: #666666!important;
        }
.list>.num {
    border-top: px2rem(1) solid #D6D6D6;
    border-right: px2rem(1) solid #d6d6d6;
    box-sizing: border-box;
}

.list>.num:last-child {
    border-right: none;
}

.list>.num_con>.num {
    border-top: px2rem(1) solid #D6D6D6;
    border-right: px2rem(1) solid #d6d6d6;
    box-sizing: border-box;
}

#remove {
    text-align: center;
    img {
        width: px2rem(69);
        height: px2rem(42);
        display: inline-block;
    }
}
#key{
        text-align: center;
        line-height: px2rem(130);
        img{
             display: inline-block;
             vertical-align: middle;
             width: px2rem(80);
             height: px2rem(57);
        }
   

}

