@charset "UTF-8";
@import '_px2rem';
$designWidth: 750;
body {
    width: 16rem;
    overflow: hidden;
    margin: 0 auto;
    background-color: #f5f5f5;
}
 .clearfix:after {
        content: '';
        overflow: hidden;
        clear: both;
        display: block;
        height: 0px;
    }
.container1{
    width: 100%;
    margin-bottom: px2rem(15);
    background-color: #FFFFFF;
    border-bottom: px2rem(1) solid #d6d6d6;
    padding-bottom: px2rem(30);
    .shopimg{
        width: px2rem(85);
        height: px2rem(85);
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        padding-top: px2rem(45);
        margin-bottom: px2rem(28);
    }
    .money{
        width: px2rem(300);
        font-size: px2rem(45);
        color: #393a3f;
        margin: 0 auto;
        margin-bottom: px2rem(25);
        text-align: center;
    }
    .wraning{
        width: px2rem(300);
        color: #666666;
        font-size: px2rem(28);
        margin: 0 auto;
        margin-bottom: px2rem(30);
        text-align: center;
    }
}
.container2{
    width: 100%;
    background-color: #FFFFFF;
    padding-top: px2rem(20);
    padding-bottom: px2rem(30);
}
.list{
    width: 100%;
    font-size: px2rem(30);
    height: px2rem(70);
    line-height: px2rem(70);
    .left{
        float: left;
        color: #333333;
        padding-left: px2rem(25);
    }
    .right{
        float: right;
        color: #666666;
        padding-right: px2rem(25);
    }
}
