@charset "UTF-8";
@import '_px2rem';
$designWidth: 750;
.list_con{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-image: url(../image/界面五.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.list_pos{
    width: px2rem(574);
    position: absolute;
    left: 50%;
    margin-left: px2rem(-287);
    bottom: px2rem(50);
}
.title{
    width: px2rem(574);
    position: relative;
    color: #FFFFFF;
    box-sizing: border-box;
    padding: px2rem(15);
    margin-bottom: px2rem(60);
}
.title>p:nth-child(1){
    font-size: px2rem(64);
}
.title>p:nth-child(2){
    color: #FFFFFF;
    font-size: px2rem(16);
    
}
.title img{
    width: px2rem(44);
    height: px2rem(44);
     position: absolute;
    right: px2rem(15);
    bottom: px2rem(15);
}
.list {
    width: px2rem(574);
    height: px2rem(120);
    margin-top: px2rem(30);
}
.list .left{
    width: px2rem(448);
    height: px2rem(120);
    background-image: url(../image/bgL.png);
    background-repeat: no-repeat;
    background-size: px2rem(448) px2rem(120);
    box-sizing: border-box;
    padding: px2rem(15);
    font-size: px2rem(40);
    color: #FFFFFF;
}
.list .right{
     width: px2rem(120);
    height: px2rem(120);
    background-image: url(../image/bgR.png);
    background-repeat: no-repeat;
    background-size: px2rem(120) px2rem(120);
}
.list .right img{
    width: px2rem(120);
    height: px2rem(120);
}
.list1 .left{
    background-color: #24a798;
}
.list1 .right{
     background-color: #24a798;
}
.list2 .left{
    background-color: #d75979;
}
.list2 .right{
    background-color: #d75979;
}
.list3 .left{
    background-color: #ef7056;
}
.list3 .right{
    background-color: #ef7056;
}